[Desktop Entry]
Encoding=UTF-8
Name=Lien vers All the best for u
Type=Link
URL=https://www.linkedin.com/feed/update/urn:li:activity:6893266147228422144?updateEntityUrn=urn%3Ali%3Afs_updateV2%3A%28urn%3Ali%3Aactivity%3A6893266147228422144%2CFEED_DETAIL%2CEMPTY%2CDEFAULT%2Cfalse%29
Icon=text-html
